.matches {
    display: flex;
    justify-content: center;
    padding: 4.4rem 2.4rem 2.4rem 2.4rem;

    &__title {
        margin-top: 2.4rem;
        text-align: center;
    }

    &--flex{
        display: flex;
        flex-direction: column;
    }
}

.table_width{
    width: 90vw;
}


:host::ng-deep .mat-icon {
    font-size: 1.4rem;
    height: 1.4rem;
    width: 1.4rem;
    color: black;
    cursor: pointer;
}