.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.4rem;

    &__button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        :not(:first-child) {
            margin-left: 2.4rem;
        }
    }

    &__content-container {
        margin-top: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}